<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kotocafe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Kotocafe.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @await RenderSectionAsync("Scripts", required: false)
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/Home/About">О нас</a></li>
                <li><a href="/Home/Menu">Меню</a></li>
                <li><a href="/Home/Contact">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
